[user]
	name = Joseph Daniel Winters
	email = jdwinters96@gmail.com
[alias]
	hist = log --pretty=format:\"%C(red)%h%C(reset) %C(cyan)%ad%C(reset) | %s%d%  %C(bold blue)[%an]%C(reset)%C(bold green)%d%C(reset) %C(bold red)[%G?]%C(reset)%n\" --graph --date=relative --color
[core]
	whitespace = trailing-space,space-before-tab
	editor = vim
[merge]
	tool = vimdiff
